body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/desert3.jpg);
    background-size: cover;
}

canvas{
    background-color: black;
    border-style: double;
    border-width: 25px;
    background-color: rgb(122, 37, 22);
    display: block; 
}

#mainContainer{
    position: relative;
}

#startScreen{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    padding-bottom: 10px;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: 100% 100%;    
    background-position: center;
    z-index: 10;
}

#settingsScreen{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 11;
    background-color: #B16903;
    flex-direction: column;
    overflow-y: scroll;
}

.settingsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.startScreenButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B16903;
    border: 5px solid #512400;
    border-radius: 30px;
    width: 20%;
    height: 10%;
    font-size: 20px;
    font-weight: 700;
    color: #512400;
}

.startScreenButtons:hover{
    background-color: #512400;
    border-color: #B16903;
    color: #B16903;
    cursor: pointer;
}

#downerButtons{
    position: absolute;
    bottom: 7%;
    left: 7%;
    right: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonRow{
    display: flex;
    gap:24px;
}

.playButton img{
    width: 45px;
    height: 45px;
}

#btnThrow{
    background-color: #B16903;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    border-style: double;
    border-color: #844406;
    border-width: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #512400;
    font-weight: 900;
    font-size: 24px;
}

#upperButtons{
    position: absolute;
    top: 7%;    
    right: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btnPlay{
    display: none;
}

#btnPause{
    display: block;
}

#btnMusik{
    display: block;
}

#btnMute{
    display: none;
}









@media only screen and (max-width: 770px){
    canvas{
        width: 100vw;
        border: none;
    }

    #downerButtons{        
        bottom: 3%;
        left: 3%;
        right: 3%;
        display: flex;
    }

    #upperButtons{
       top: 3%;
       right: 3%;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
        border: none;
    }
}

